:root {
   --white: #FFF;
   --black: #000;
   --font-color-base: #666;
   --font-color-dark: #212529;
   --font-color-light: #E6E8F2;
   --font-color-link: #2476FF;
   --banner:#F8FAFE;
   --footer: #20335B;
   --social-bg: #ECF2FF;
   --social-link: #677788;
   --contrast: rgba(246, 248, 249, 0.8);
   --success: #92ecf3;
   --sketch: #01C9A7;
   --bg-1: #d9d9d9;
   --bg-2: #E1E7EF;

   --size-10: 0.625rem;
   --size-14: 0.875rem;
   --size-16: 1rem;
   --size-18: 1.125rem;
   --size-20: 1.25rem;
   --size-25: 1.563rem;
   --size-30: 1.875rem;
   --size-40: 2.5rem;
   --size-50: 3.125rem;
   --size-100: 6.25rem;
   --size-150: 9.375rem;
}

html { scroll-behavior: smooth;}

body {
   background-color: var(--white);
   font-family: "Open Sans", sans-serif;
   font-weight: 400;
   font-size: var(--size-14);
   line-height: 1.6;
   letter-spacing: 0;
   color: var(--font-color-base);
   margin: 0;
   padding: 0;
}

*,
::after,
::before {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

ul {
   padding: 0;
   margin: 0;
   list-style: none;
}

a { 
   text-decoration: none;
   color: var(--font-color-base);
}
/*
a:link {color: purple;}
a:visited {color: rgb(83, 229, 252);}
*/
p { 
   margin-top: 0;
   margin-bottom: 25px;
}

h2 {
   color: var(--black);
   font-size: 1.75rem;
   font-weight: 500;
   line-height: 1.2;
}

img {
   width: 100%;
   max-width: 100%;
   height: 100%;
   vertical-align: middle;
   border-style: none;
}

header {
   display: flex;
   flex-wrap: wrap;
   align-content: center;
   background-color: var(--white);
   height: 600px;
   flex-direction: row;
   flex-wrap: wrap;
   padding-top: 20px;
   padding-bottom: 0px;
   /* border: 1px dashed black; */
   width: 100%;
}
.container {
   width: 100%;
   padding-left: 15px;
   padding-right: 15px;
   margin-left: auto;
   margin-right: auto;
}

.btn {
   display: inline-block;
   font-weight: 400;
   color: var(--white);
   text-align: center;
   cursor: pointer;
   user-select: none;
   background-color: #2476FF;
   border: 1px solid transparent;
   padding: 0.938rem 1.563rem;
   border-radius: var(--size-30);
   transition: ease-in-out 0.3s;
}

.btn-play-white {
   color: var(--white);
   text-align: center;
   cursor: pointer;
   user-select: none;
   background-color: var(--black);
   box-shadow: 0 10px 20px rgba(55, 58, 59, 0.5);
   border-radius: 50%;
   transition: ease-in-out 0.3s;
}
.btn-small {
   background-color: #2576FF;
   color: var(--white);
   font-size: 7px;
   padding: 0.2rem 0.55rem;
   border-radius: 5px;
}